In [1]:
import numpy as np
import pandas as pd

In [2]:
s4=pd.read_csv('S4_I-35E.csv')
s4_tmc=pd.read_csv('TMC_Identification.csv')

In [3]:
s4.head(5)

,tmc_code,measurement_tstamp,speed,average_speed,reference_speed,travel_time_seconds,data_density
0,111N04339,2018-02-01 06:30:00,53.99,56.0,63.0,25.40,C
1,111N04339,2018-02-01 06:45:00,53.33,56.0,63.0,25.71,C
2,111N04339,2018-02-01 07:00:00,51.28,55.0,63.0,26.74,C
3,111N04339,2018-02-01 07:15:00,41.75,55.0,63.0,32.84,C
4,111N04339,2018-02-01 07:30:00,44.73,55.0,63.0,30.65,C

In [4]:
s4_tmc.head(10)

,tmc,road,direction,intersection,state,county,zip,start_latitude,start_longitude,end_latitude,...,aadt_singl,aadt_combi,nhs,nhs_pct,strhnt_typ,strhnt_pct,truck,isprimary,active_start_date,active_end_date
0,111+04319,I-35E,NORTHBOUND,WHEATLAND RD,TX,DALLAS,75232,32.648604,-96.823146,32.648974,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
1,111P04319,I-35E,NORTHBOUND,WHEATLAND RD,TX,DALLAS,75232,32.648974,-96.823152,32.651417,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
2,111+04320,I-35E,NORTHBOUND,CAMP WISDOM RD/EXIT 419,TX,DALLAS,75232,32.651417,-96.823148,32.659682,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
3,111P04320,I-35E,NORTHBOUND,CAMP WISDOM RD/EXIT 419,TX,DALLAS,75232,32.659682,-96.822903,32.667117,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
4,111+04321,I-35E,NORTHBOUND,LAURELAND RD/EXIT 420,TX,DALLAS,75232,32.667117,-96.822782,32.670142,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
5,111P04321,I-35E,NORTHBOUND,LAURELAND RD/EXIT 420,TX,DALLAS,75232,32.670142,-96.822487,32.677195,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
6,111+04322,I-35E,NORTHBOUND,TX-12 LOOP/EXIT 421,TX,DALLAS,75232,32.677195,-96.822465,32.679671,...,3194,7739,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
7,111P04322,I-35E,NORTHBOUND,TX-12 LOOP/EXIT 421,TX,DALLAS,75232,32.679671,-96.822694,32.689826,...,3182,7695,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
8,111+04323,I-35E,NORTHBOUND,BECKLEY AVE/EXIT 422A,TX,DALLAS,75216,32.689826,-96.822954,32.697987,...,3155,7596,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00
9,111P04323,I-35E,NORTHBOUND,BECKLEY AVE/EXIT 422A,TX,DALLAS,75224,32.697987,-96.823319,32.698473,...,3155,7596,1,100,1,100,1,1,2018-01-01 00:00:00-05:00,2019-01-01 00:00:00-05:00

In [5]:
df=pd.merge(s4,s4_tmc,left_on='tmc_code',right_on='tmc',how='left')

In [6]:
df.columns

Index(['tmc_code', 'measurement_tstamp', 'speed', 'average_speed',
       'reference_speed', 'travel_time_seconds', 'data_density', 'tmc', 'road',
       'direction', 'intersection', 'state', 'county', 'zip', 'start_latitude',
       'start_longitude', 'end_latitude', 'end_longitude', 'miles',
       'road_order', 'timezone_name', 'type', 'country', 'tmclinear', 'frc',
       'border_set', 'f_system', 'urban_code', 'faciltype', 'structype',
       'thrulanes', 'route_numb', 'route_sign', 'route_qual', 'altrtename',
       'aadt', 'aadt_singl', 'aadt_combi', 'nhs', 'nhs_pct', 'strhnt_typ',
       'strhnt_pct', 'truck', 'isprimary', 'active_start_date',
       'active_end_date'],
      dtype='object')

In [8]:
df1=df[['tmc_code','measurement_tstamp','speed','average_speed','travel_time_seconds', 'direction','miles']]

In [9]:
print(df1)

         tmc_code   measurement_tstamp  speed  average_speed  \
0       111N04339  2018-02-01 06:30:00  53.99           56.0
1       111N04339  2018-02-01 06:45:00  53.33           56.0
2       111N04339  2018-02-01 07:00:00  51.28           55.0
3       111N04339  2018-02-01 07:15:00  41.75           55.0
4       111N04339  2018-02-01 07:30:00  44.73           55.0
5       111N04339  2018-02-01 07:45:00  49.59           55.0
6       111N04339  2018-02-01 08:00:00  48.63           57.0
7       111N04339  2018-02-01 08:15:00  45.87           57.0
8       111N04339  2018-02-01 08:30:00  48.91           57.0
9       111N04339  2018-02-01 08:45:00  40.80           57.0
10      111N04339  2018-02-01 09:00:00  35.62           57.0
11      111N04339  2018-02-01 09:15:00  35.39           57.0
12      111N04339  2018-02-01 09:30:00  39.06           57.0
13      111N04339  2018-02-01 09:45:00  47.31           57.0
14      111N04339  2018-02-01 10:00:00  35.66           54.0
15      111N04339  2018-02-01 10:15:00  36.59           54.0
16      111N04339  2018-02-01 10:30:00  30.66           54.0
17      111N04339  2018-02-01 10:45:00  33.54           54.0
18      111N04339  2018-02-01 11:00:00  40.32           53.0
19      111N04339  2018-02-01 11:15:00  31.81           53.0
20      111N04339  2018-02-01 11:30:00  25.17           53.0
21      111N04339  2018-02-01 11:45:00  25.38           53.0
22      111N04339  2018-02-01 12:00:00  26.20           43.0
23      111N04339  2018-02-01 12:15:00  26.78           43.0
24      111N04339  2018-02-01 12:30:00  21.28           43.0
25      111N04339  2018-02-01 12:45:00  23.93           43.0
26      111N04339  2018-02-01 13:00:00  28.98           36.0
27      111N04339  2018-02-01 13:15:00  27.21           36.0
28      111N04339  2018-02-01 13:30:00  21.39           36.0
29      111N04339  2018-02-01 13:45:00  24.92           36.0
...           ...                  ...    ...            ...
949590  111-04385  2018-11-15 11:15:00  62.79           57.0
949591  111-04385  2018-11-15 11:30:00  65.84           57.0
949592  111-04385  2018-11-15 11:45:00  61.57           57.0
949593  111-04385  2018-11-15 12:00:00  61.94           50.0
949594  111-04385  2018-11-15 12:15:00  64.96           50.0
949595  111-04385  2018-11-15 12:30:00  64.65           50.0
949596  111-04385  2018-11-15 12:45:00  63.64           50.0
949597  111-04385  2018-11-15 13:00:00  65.33           50.0
949598  111-04385  2018-11-15 13:15:00  62.23           50.0
949599  111-04385  2018-11-15 13:30:00  51.65           50.0
949600  111-04385  2018-11-15 13:45:00  62.38           50.0
949601  111-04385  2018-11-15 14:00:00  47.49           54.0
949602  111-04385  2018-11-15 14:15:00  64.58           54.0
949603  111-04385  2018-11-15 14:30:00  64.86           54.0
949604  111-04385  2018-11-15 14:45:00  57.71           54.0
949605  111-04385  2018-11-15 15:00:00  50.20           53.0
949606  111-04385  2018-11-15 15:15:00  41.51           53.0
949607  111-04385  2018-11-15 15:30:00  17.34           53.0
949608  111-04385  2018-11-15 15:45:00  11.35           53.0
949609  111-04385  2018-11-15 16:00:00  14.23           51.0
949610  111-04385  2018-11-15 16:15:00  20.32           51.0
949611  111-04385  2018-11-15 16:30:00  16.21           51.0
949612  111-04385  2018-11-15 16:45:00  14.82           51.0
949613  111-04385  2018-11-15 17:00:00  13.47           53.0
949614  111-04385  2018-11-15 17:15:00  14.92           53.0
949615  111-04385  2018-11-15 17:30:00  15.65           53.0
949616  111-04385  2018-11-15 17:45:00  12.32           53.0
949617  111-04385  2018-11-15 18:00:00   7.13           55.0
949618  111-04385  2018-11-15 18:15:00  15.87           55.0
949619  111-04385  2018-11-15 18:30:00  22.00           55.0

        travel_time_seconds   direction     miles
0                     25.40  SOUTHBOUND  0.380863
1                     25.71  SOUTHBOUND  0.380863
2                     26.74  SOUTHBOUND  0.380863
3                     32.84  SOUTHBOUND  0.380863
4                     30.65  SOUTHBOUND  0.380863
5                     27.65  SOUTHBOUND  0.380863
6                     28.19  SOUTHBOUND  0.380863
7                     29.89  SOUTHBOUND  0.380863
8                     28.03  SOUTHBOUND  0.380863
9                     33.60  SOUTHBOUND  0.380863
10                    38.49  SOUTHBOUND  0.380863
11                    38.74  SOUTHBOUND  0.380863
12                    35.10  SOUTHBOUND  0.380863
13                    28.98  SOUTHBOUND  0.380863
14                    38.45  SOUTHBOUND  0.380863
15                    37.47  SOUTHBOUND  0.380863
16                    44.71  SOUTHBOUND  0.380863
17                    40.88  SOUTHBOUND  0.380863
18                    34.01  SOUTHBOUND  0.380863
19                    43.10  SOUTHBOUND  0.380863
20                    54.48  SOUTHBOUND  0.380863
21                    54.02  SOUTHBOUND  0.380863
22                    52.33  SOUTHBOUND  0.380863
23                    51.20  SOUTHBOUND  0.380863
24                    64.42  SOUTHBOUND  0.380863
25                    57.31  SOUTHBOUND  0.380863
26                    47.32  SOUTHBOUND  0.380863
27                    50.38  SOUTHBOUND  0.380863
28                    64.10  SOUTHBOUND  0.380863
29                    55.01  SOUTHBOUND  0.380863
...                     ...         ...       ...
949590                14.89  SOUTHBOUND  0.259752
949591                14.20  SOUTHBOUND  0.259752
949592                15.19  SOUTHBOUND  0.259752
949593                15.10  SOUTHBOUND  0.259752
949594                14.40  SOUTHBOUND  0.259752
949595                14.46  SOUTHBOUND  0.259752
949596                14.69  SOUTHBOUND  0.259752
949597                14.31  SOUTHBOUND  0.259752
949598                15.03  SOUTHBOUND  0.259752
949599                18.11  SOUTHBOUND  0.259752
949600                14.99  SOUTHBOUND  0.259752
949601                19.69  SOUTHBOUND  0.259752
949602                14.48  SOUTHBOUND  0.259752
949603                14.42  SOUTHBOUND  0.259752
949604                16.20  SOUTHBOUND  0.259752
949605                18.63  SOUTHBOUND  0.259752
949606                22.53  SOUTHBOUND  0.259752
949607                53.93  SOUTHBOUND  0.259752
949608                82.42  SOUTHBOUND  0.259752
949609                65.72  SOUTHBOUND  0.259752
949610                46.01  SOUTHBOUND  0.259752
949611                57.70  SOUTHBOUND  0.259752
949612                63.09  SOUTHBOUND  0.259752
949613                69.43  SOUTHBOUND  0.259752
949614                62.66  SOUTHBOUND  0.259752
949615                59.74  SOUTHBOUND  0.259752
949616                75.93  SOUTHBOUND  0.259752
949617               131.11  SOUTHBOUND  0.259752
949618                58.91  SOUTHBOUND  0.259752
949619                42.50  SOUTHBOUND  0.259752

[949620 rows x 7 columns]

In [10]:
import datetime

In [12]:
df1.loc[:,'datetime']=pd.to_datetime(df1['measurement_tstamp'])

In [49]:
df1['datetime'].dtype

dtype('<M8[ns]')

In [20]:
df1.head(5)

,tmc_code,speed,average_speed,travel_time_seconds,direction,miles,datetime,date,time
0,111N04339,53.99,56.0,25.40,SOUTHBOUND,0.380863,2018-02-01 06:30:00,2018-02-01,06:30:00
1,111N04339,53.33,56.0,25.71,SOUTHBOUND,0.380863,2018-02-01 06:45:00,2018-02-01,06:45:00
2,111N04339,51.28,55.0,26.74,SOUTHBOUND,0.380863,2018-02-01 07:00:00,2018-02-01,07:00:00
3,111N04339,41.75,55.0,32.84,SOUTHBOUND,0.380863,2018-02-01 07:15:00,2018-02-01,07:15:00
4,111N04339,44.73,55.0,30.65,SOUTHBOUND,0.380863,2018-02-01 07:30:00,2018-02-01,07:30:00

In [21]:
df1.loc[:,'date']=df1['datetime'].dt.date
df1.loc[:,'time']=df1['datetime'].dt.time
df1.drop(['measurement_tstamp'],axis=1)

KeyError: "['measurement_tstamp'] not found in axis"

In [22]:
firstdate=pd.to_datetime("2018-06-01").date()
seconddate=pd.to_datetime("2018-08-31").date()
df1=df1[(df1['date']<firstdate) | (df1['date']>seconddate)]

In [27]:
df1=df1[df1['time'] < pd.to_datetime("18:30:00").time()]

In [33]:
df1.head

<bound method NDFrame.head of          tmc_code  speed  average_speed  travel_time_seconds   direction  \
0       111N04339  53.99           56.0                25.40  SOUTHBOUND
1       111N04339  53.33           56.0                25.71  SOUTHBOUND
2       111N04339  51.28           55.0                26.74  SOUTHBOUND
3       111N04339  41.75           55.0                32.84  SOUTHBOUND
4       111N04339  44.73           55.0                30.65  SOUTHBOUND
5       111N04339  49.59           55.0                27.65  SOUTHBOUND
6       111N04339  48.63           57.0                28.19  SOUTHBOUND
7       111N04339  45.87           57.0                29.89  SOUTHBOUND
8       111N04339  48.91           57.0                28.03  SOUTHBOUND
9       111N04339  40.80           57.0                33.60  SOUTHBOUND
10      111N04339  35.62           57.0                38.49  SOUTHBOUND
11      111N04339  35.39           57.0                38.74  SOUTHBOUND
12      111N04339  39.06           57.0                35.10  SOUTHBOUND
13      111N04339  47.31           57.0                28.98  SOUTHBOUND
14      111N04339  35.66           54.0                38.45  SOUTHBOUND
15      111N04339  36.59           54.0                37.47  SOUTHBOUND
16      111N04339  30.66           54.0                44.71  SOUTHBOUND
17      111N04339  33.54           54.0                40.88  SOUTHBOUND
18      111N04339  40.32           53.0                34.01  SOUTHBOUND
19      111N04339  31.81           53.0                43.10  SOUTHBOUND
20      111N04339  25.17           53.0                54.48  SOUTHBOUND
21      111N04339  25.38           53.0                54.02  SOUTHBOUND
22      111N04339  26.20           43.0                52.33  SOUTHBOUND
23      111N04339  26.78           43.0                51.20  SOUTHBOUND
24      111N04339  21.28           43.0                64.42  SOUTHBOUND
25      111N04339  23.93           43.0                57.31  SOUTHBOUND
26      111N04339  28.98           36.0                47.32  SOUTHBOUND
27      111N04339  27.21           36.0                50.38  SOUTHBOUND
28      111N04339  21.39           36.0                64.10  SOUTHBOUND
29      111N04339  24.92           36.0                55.01  SOUTHBOUND
...           ...    ...            ...                  ...         ...
949589  111-04385  61.62           57.0                15.18  SOUTHBOUND
949590  111-04385  62.79           57.0                14.89  SOUTHBOUND
949591  111-04385  65.84           57.0                14.20  SOUTHBOUND
949592  111-04385  61.57           57.0                15.19  SOUTHBOUND
949593  111-04385  61.94           50.0                15.10  SOUTHBOUND
949594  111-04385  64.96           50.0                14.40  SOUTHBOUND
949595  111-04385  64.65           50.0                14.46  SOUTHBOUND
949596  111-04385  63.64           50.0                14.69  SOUTHBOUND
949597  111-04385  65.33           50.0                14.31  SOUTHBOUND
949598  111-04385  62.23           50.0                15.03  SOUTHBOUND
949599  111-04385  51.65           50.0                18.11  SOUTHBOUND
949600  111-04385  62.38           50.0                14.99  SOUTHBOUND
949601  111-04385  47.49           54.0                19.69  SOUTHBOUND
949602  111-04385  64.58           54.0                14.48  SOUTHBOUND
949603  111-04385  64.86           54.0                14.42  SOUTHBOUND
949604  111-04385  57.71           54.0                16.20  SOUTHBOUND
949605  111-04385  50.20           53.0                18.63  SOUTHBOUND
949606  111-04385  41.51           53.0                22.53  SOUTHBOUND
949607  111-04385  17.34           53.0                53.93  SOUTHBOUND
949608  111-04385  11.35           53.0                82.42  SOUTHBOUND
949609  111-04385  14.23           51.0                65.72  SOUTHBOUND
949610  111-04385  20.32           51.0                46.01  SOUTHBOUND
949611  111-04385  16.21           51.0                57.70  SOUTHBOUND
949612  111-04385  14.82           51.0                63.09  SOUTHBOUND
949613  111-04385  13.47           53.0                69.43  SOUTHBOUND
949614  111-04385  14.92           53.0                62.66  SOUTHBOUND
949615  111-04385  15.65           53.0                59.74  SOUTHBOUND
949616  111-04385  12.32           53.0                75.93  SOUTHBOUND
949617  111-04385   7.13           55.0               131.11  SOUTHBOUND
949618  111-04385  15.87           55.0                58.91  SOUTHBOUND

           miles            datetime        date      time  weekday
0       0.380863 2018-02-01 06:30:00  2018-02-01  06:30:00        3
1       0.380863 2018-02-01 06:45:00  2018-02-01  06:45:00        3
2       0.380863 2018-02-01 07:00:00  2018-02-01  07:00:00        3
3       0.380863 2018-02-01 07:15:00  2018-02-01  07:15:00        3
4       0.380863 2018-02-01 07:30:00  2018-02-01  07:30:00        3
5       0.380863 2018-02-01 07:45:00  2018-02-01  07:45:00        3
6       0.380863 2018-02-01 08:00:00  2018-02-01  08:00:00        3
7       0.380863 2018-02-01 08:15:00  2018-02-01  08:15:00        3
8       0.380863 2018-02-01 08:30:00  2018-02-01  08:30:00        3
9       0.380863 2018-02-01 08:45:00  2018-02-01  08:45:00        3
10      0.380863 2018-02-01 09:00:00  2018-02-01  09:00:00        3
11      0.380863 2018-02-01 09:15:00  2018-02-01  09:15:00        3
12      0.380863 2018-02-01 09:30:00  2018-02-01  09:30:00        3
13      0.380863 2018-02-01 09:45:00  2018-02-01  09:45:00        3
14      0.380863 2018-02-01 10:00:00  2018-02-01  10:00:00        3
15      0.380863 2018-02-01 10:15:00  2018-02-01  10:15:00        3
16      0.380863 2018-02-01 10:30:00  2018-02-01  10:30:00        3
17      0.380863 2018-02-01 10:45:00  2018-02-01  10:45:00        3
18      0.380863 2018-02-01 11:00:00  2018-02-01  11:00:00        3
19      0.380863 2018-02-01 11:15:00  2018-02-01  11:15:00        3
20      0.380863 2018-02-01 11:30:00  2018-02-01  11:30:00        3
21      0.380863 2018-02-01 11:45:00  2018-02-01  11:45:00        3
22      0.380863 2018-02-01 12:00:00  2018-02-01  12:00:00        3
23      0.380863 2018-02-01 12:15:00  2018-02-01  12:15:00        3
24      0.380863 2018-02-01 12:30:00  2018-02-01  12:30:00        3
25      0.380863 2018-02-01 12:45:00  2018-02-01  12:45:00        3
26      0.380863 2018-02-01 13:00:00  2018-02-01  13:00:00        3
27      0.380863 2018-02-01 13:15:00  2018-02-01  13:15:00        3
28      0.380863 2018-02-01 13:30:00  2018-02-01  13:30:00        3
29      0.380863 2018-02-01 13:45:00  2018-02-01  13:45:00        3
...          ...                 ...         ...       ...      ...
949589  0.259752 2018-11-15 11:00:00  2018-11-15  11:00:00        3
949590  0.259752 2018-11-15 11:15:00  2018-11-15  11:15:00        3
949591  0.259752 2018-11-15 11:30:00  2018-11-15  11:30:00        3
949592  0.259752 2018-11-15 11:45:00  2018-11-15  11:45:00        3
949593  0.259752 2018-11-15 12:00:00  2018-11-15  12:00:00        3
949594  0.259752 2018-11-15 12:15:00  2018-11-15  12:15:00        3
949595  0.259752 2018-11-15 12:30:00  2018-11-15  12:30:00        3
949596  0.259752 2018-11-15 12:45:00  2018-11-15  12:45:00        3
949597  0.259752 2018-11-15 13:00:00  2018-11-15  13:00:00        3
949598  0.259752 2018-11-15 13:15:00  2018-11-15  13:15:00        3
949599  0.259752 2018-11-15 13:30:00  2018-11-15  13:30:00        3
949600  0.259752 2018-11-15 13:45:00  2018-11-15  13:45:00        3
949601  0.259752 2018-11-15 14:00:00  2018-11-15  14:00:00        3
949602  0.259752 2018-11-15 14:15:00  2018-11-15  14:15:00        3
949603  0.259752 2018-11-15 14:30:00  2018-11-15  14:30:00        3
949604  0.259752 2018-11-15 14:45:00  2018-11-15  14:45:00        3
949605  0.259752 2018-11-15 15:00:00  2018-11-15  15:00:00        3
949606  0.259752 2018-11-15 15:15:00  2018-11-15  15:15:00        3
949607  0.259752 2018-11-15 15:30:00  2018-11-15  15:30:00        3
949608  0.259752 2018-11-15 15:45:00  2018-11-15  15:45:00        3
949609  0.259752 2018-11-15 16:00:00  2018-11-15  16:00:00        3
949610  0.259752 2018-11-15 16:15:00  2018-11-15  16:15:00        3
949611  0.259752 2018-11-15 16:30:00  2018-11-15  16:30:00        3
949612  0.259752 2018-11-15 16:45:00  2018-11-15  16:45:00        3
949613  0.259752 2018-11-15 17:00:00  2018-11-15  17:00:00        3
949614  0.259752 2018-11-15 17:15:00  2018-11-15  17:15:00        3
949615  0.259752 2018-11-15 17:30:00  2018-11-15  17:30:00        3
949616  0.259752 2018-11-15 17:45:00  2018-11-15  17:45:00        3
949617  0.259752 2018-11-15 18:00:00  2018-11-15  18:00:00        3
949618  0.259752 2018-11-15 18:15:00  2018-11-15  18:15:00        3

[892547 rows x 10 columns]>

In [30]:
df1['weekday']=df1['datetime'].dt.dayofweek

In [199]:
df1 = df1.dropna(how='any',axis=0)

In [200]:
df1.loc[df1['time']<pd.to_datetime('9:00:00').time(),'peak']='AM'
df1.loc[df1['time']>=pd.to_datetime('15:00:00').time(),'peak']='PM'
df1.loc[:,'peak']=df1['peak'].fillna('OP')

In [201]:
df1

,tmc_code,speed,average_speed,travel_time_seconds,direction,miles,datetime,date,time,weekday,peak
0,111N04339,53.99,56.0,25.40,SOUTHBOUND,0.380863,2018-02-01 06:30:00,2018-02-01,06:30:00,3,AM
1,111N04339,53.33,56.0,25.71,SOUTHBOUND,0.380863,2018-02-01 06:45:00,2018-02-01,06:45:00,3,AM
2,111N04339,51.28,55.0,26.74,SOUTHBOUND,0.380863,2018-02-01 07:00:00,2018-02-01,07:00:00,3,AM
3,111N04339,41.75,55.0,32.84,SOUTHBOUND,0.380863,2018-02-01 07:15:00,2018-02-01,07:15:00,3,AM
4,111N04339,44.73,55.0,30.65,SOUTHBOUND,0.380863,2018-02-01 07:30:00,2018-02-01,07:30:00,3,AM
5,111N04339,49.59,55.0,27.65,SOUTHBOUND,0.380863,2018-02-01 07:45:00,2018-02-01,07:45:00,3,AM
6,111N04339,48.63,57.0,28.19,SOUTHBOUND,0.380863,2018-02-01 08:00:00,2018-02-01,08:00:00,3,AM
7,111N04339,45.87,57.0,29.89,SOUTHBOUND,0.380863,2018-02-01 08:15:00,2018-02-01,08:15:00,3,AM
8,111N04339,48.91,57.0,28.03,SOUTHBOUND,0.380863,2018-02-01 08:30:00,2018-02-01,08:30:00,3,AM
9,111N04339,40.80,57.0,33.60,SOUTHBOUND,0.380863,2018-02-01 08:45:00,2018-02-01,08:45:00,3,AM
10,111N04339,35.62,57.0,38.49,SOUTHBOUND,0.380863,2018-02-01 09:00:00,2018-02-01,09:00:00,3,OP
11,111N04339,35.39,57.0,38.74,SOUTHBOUND,0.380863,2018-02-01 09:15:00,2018-02-01,09:15:00,3,OP
12,111N04339,39.06,57.0,35.10,SOUTHBOUND,0.380863,2018-02-01 09:30:00,2018-02-01,09:30:00,3,OP
13,111N04339,47.31,57.0,28.98,SOUTHBOUND,0.380863,2018-02-01 09:45:00,2018-02-01,09:45:00,3,OP
14,111N04339,35.66,54.0,38.45,SOUTHBOUND,0.380863,2018-02-01 10:00:00,2018-02-01,10:00:00,3,OP
15,111N04339,36.59,54.0,37.47,SOUTHBOUND,0.380863,2018-02-01 10:15:00,2018-02-01,10:15:00,3,OP
16,111N04339,30.66,54.0,44.71,SOUTHBOUND,0.380863,2018-02-01 10:30:00,2018-02-01,10:30:00,3,OP
17,111N04339,33.54,54.0,40.88,SOUTHBOUND,0.380863,2018-02-01 10:45:00,2018-02-01,10:45:00,3,OP
18,111N04339,40.32,53.0,34.01,SOUTHBOUND,0.380863,2018-02-01 11:00:00,2018-02-01,11:00:00,3,OP
19,111N04339,31.81,53.0,43.10,SOUTHBOUND,0.380863,2018-02-01 11:15:00,2018-02-01,11:15:00,3,OP
20,111N04339,25.17,53.0,54.48,SOUTHBOUND,0.380863,2018-02-01 11:30:00,2018-02-01,11:30:00,3,OP
21,111N04339,25.38,53.0,54.02,SOUTHBOUND,0.380863,2018-02-01 11:45:00,2018-02-01,11:45:00,3,OP
22,111N04339,26.20,43.0,52.33,SOUTHBOUND,0.380863,2018-02-01 12:00:00,2018-02-01,12:00:00,3,OP
23,111N04339,26.78,43.0,51.20,SOUTHBOUND,0.380863,2018-02-01 12:15:00,2018-02-01,12:15:00,3,OP
24,111N04339,21.28,43.0,64.42,SOUTHBOUND,0.380863,2018-02-01 12:30:00,2018-02-01,12:30:00,3,OP
25,111N04339,23.93,43.0,57.31,SOUTHBOUND,0.380863,2018-02-01 12:45:00,2018-02-01,12:45:00,3,OP
26,111N04339,28.98,36.0,47.32,SOUTHBOUND,0.380863,2018-02-01 13:00:00,2018-02-01,13:00:00,3,OP
27,111N04339,27.21,36.0,50.38,SOUTHBOUND,0.380863,2018-02-01 13:15:00,2018-02-01,13:15:00,3,OP
28,111N04339,21.39,36.0,64.10,SOUTHBOUND,0.380863,2018-02-01 13:30:00,2018-02-01,13:30:00,3,OP
29,111N04339,24.92,36.0,55.01,SOUTHBOUND,0.380863,2018-02-01 13:45:00,2018-02-01,13:45:00,3,OP
...,...,...,...,...,...,...,...,...,...,...,...
949589,111-04385,61.62,57.0,15.18,SOUTHBOUND,0.259752,2018-11-15 11:00:00,2018-11-15,11:00:00,3,OP
949590,111-04385,62.79,57.0,14.89,SOUTHBOUND,0.259752,2018-11-15 11:15:00,2018-11-15,11:15:00,3,OP
949591,111-04385,65.84,57.0,14.20,SOUTHBOUND,0.259752,2018-11-15 11:30:00,2018-11-15,11:30:00,3,OP
949592,111-04385,61.57,57.0,15.19,SOUTHBOUND,0.259752,2018-11-15 11:45:00,2018-11-15,11:45:00,3,OP
949593,111-04385,61.94,50.0,15.10,SOUTHBOUND,0.259752,2018-11-15 12:00:00,2018-11-15,12:00:00,3,OP
949594,111-04385,64.96,50.0,14.40,SOUTHBOUND,0.259752,2018-11-15 12:15:00,2018-11-15,12:15:00,3,OP
949595,111-04385,64.65,50.0,14.46,SOUTHBOUND,0.259752,2018-11-15 12:30:00,2018-11-15,12:30:00,3,OP
949596,111-04385,63.64,50.0,14.69,SOUTHBOUND,0.259752,2018-11-15 12:45:00,2018-11-15,12:45:00,3,OP
949597,111-04385,65.33,50.0,14.31,SOUTHBOUND,0.259752,2018-11-15 13:00:00,2018-11-15,13:00:00,3,OP
949598,111-04385,62.23,50.0,15.03,SOUTHBOUND,0.259752,2018-11-15 13:15:00,2018-11-15,13:15:00,3,OP
949599,111-04385,51.65,50.0,18.11,SOUTHBOUND,0.259752,2018-11-15 13:30:00,2018-11-15,13:30:00,3,OP
949600,111-04385,62.38,50.0,14.99,SOUTHBOUND,0.259752,2018-11-15 13:45:00,2018-11-15,13:45:00,3,OP
949601,111-04385,47.49,54.0,19.69,SOUTHBOUND,0.259752,2018-11-15 14:00:00,2018-11-15,14:00:00,3,OP
949602,111-04385,64.58,54.0,14.48,SOUTHBOUND,0.259752,2018-11-15 14:15:00,2018-11-15,14:15:00,3,OP
949603,111-04385,64.86,54.0,14.42,SOUTHBOUND,0.259752,2018-11-15 14:30:00,2018-11-15,14:30:00,3,OP
949604,111-04385,57.71,54.0,16.20,SOUTHBOUND,0.259752,2018-11-15 14:45:00,2018-11-15,14:45:00,3,OP
949605,111-04385,50.20,53.0,18.63,SOUTHBOUND,0.259752,2018-11-15 15:00:00,2018-11-15,15:00:00,3,PM
949606,111-04385,41.51,53.0,22.53,SOUTHBOUND,0.259752,2018-11-15 15:15:00,2018-11-15,15:15:00,3,PM
949607,111-04385,17.34,53.0,53.93,SOUTHBOUND,0.259752,2018-11-15 15:30:00,2018-11-15,15:30:00,3,PM
949608,111-04385,11.35,53.0,82.42,SOUTHBOUND,0.259752,2018-11-15 15:45:00,2018-11-15,15:45:00,3,PM
949609,111-04385,14.23,51.0,65.72,SOUTHBOUND,0.259752,2018-11-15 16:00:00,2018-11-15,16:00:00,3,PM
949610,111-04385,20.32,51.0,46.01,SOUTHBOUND,0.259752,2018-11-15 16:15:00,2018-11-15,16:15:00,3,PM
949611,111-04385,16.21,51.0,57.70,SOUTHBOUND,0.259752,2018-11-15 16:30:00,2018-11-15,16:30:00,3,PM
949612,111-04385,14.82,51.0,63.09,SOUTHBOUND,0.259752,2018-11-15 16:45:00,2018-11-15,16:45:00,3,PM
949613,111-04385,13.47,53.0,69.43,SOUTHBOUND,0.259752,2018-11-15 17:00:00,2018-11-15,17:00:00,3,PM
949614,111-04385,14.92,53.0,62.66,SOUTHBOUND,0.259752,2018-11-15 17:15:00,2018-11-15,17:15:00,3,PM
949615,111-04385,15.65,53.0,59.74,SOUTHBOUND,0.259752,2018-11-15 17:30:00,2018-11-15,17:30:00,3,PM
949616,111-04385,12.32,53.0,75.93,SOUTHBOUND,0.259752,2018-11-15 17:45:00,2018-11-15,17:45:00,3,PM
949617,111-04385,7.13,55.0,131.11,SOUTHBOUND,0.259752,2018-11-15 18:00:00,2018-11-15,18:00:00,3,PM
949618,111-04385,15.87,55.0,58.91,SOUTHBOUND,0.259752,2018-11-15 18:15:00,2018-11-15,18:15:00,3,PM

In [194]:
tot_avg=df1.pivot_table(index=['direction','tmc_code'],values='travel_time_seconds',aggfunc='sum',columns=['peak'])

In [195]:
tot_avg

peak                         AM         OP         PM
direction  tmc_code
NORTHBOUND 111+04320   31875.03   68428.40   40343.73
           111+04321   15483.55   24649.19   14221.59
           111+04322   18415.82   19741.04   11477.54
           111+04323  106270.11   71962.30   41149.29
           111+04324   52803.21   43330.84   23846.41
           111+04325    1466.13    1760.48     973.30
           111+04335   47559.55   57917.50   33712.84
           111+04336    6245.42    6194.73    3330.22
           111+04337   50148.04   39928.88   22939.43
           111+04338   23500.97   20108.57   11245.67
           111+04339  100694.81  103883.62   68913.61
           111+04340   14635.42   20040.24   14101.36
           111+04341   27038.40   36161.63   22621.68
           111+04342   24393.58   27605.58   18344.92
           111+04344   51609.98   69605.43   56783.06
           111+04346   10559.74   18101.98   16698.81
           111+04347   16434.71   29819.26   26109.57
           111+04348   25423.13   48049.79   43948.69
           111+04349    9639.73   16858.53   23548.67
           111+04350   13432.14   26045.71   33229.66
           111+04351   19142.93   40384.44   45876.51
           111+04352   20969.18   45650.31   37347.64
           111+04353   69034.42  149587.17  107964.85
           111+04354   27315.97   49628.60   42834.27
           111+04355   22619.89   45097.36   33350.08
           111+04356   38857.35   90669.07   59651.68
           111+04357   17340.60   39723.27   25330.76
           111+04358   77472.46  145942.30  122814.08
           111+04359   52738.90  111885.25  112194.19
           111+04360    5508.71   11935.71   13861.43
...                         ...        ...        ...
SOUTHBOUND 111N04358     622.22    1390.42     945.70
           111N04359   62363.58  122967.61  104448.69
           111N04360   30290.12   53171.96   50230.73
           111N04361    1699.84    3334.44    2633.65
           111N04362   77903.75  110414.61  124436.81
           111N04363   46272.98   66806.51   59466.87
           111N04364   12859.39   23127.80   14515.28
           111N04365   34168.26   57491.45   34962.45
           111N04366   21035.83   41305.79   24475.76
           111N04367   33639.28   63036.98   38480.84
           111N04368   46561.83   97643.75   58188.87
           111N04369   25927.25   57579.75   33785.53
           111N04370     481.68    1090.57     640.67
           111N04371   26192.19   59586.02   34724.01
           111N04372   49175.86  114742.54   68879.74
           111N04375   65108.99  155770.95   92846.88
           111N04376   11825.13   27784.87   16792.32
           111N04377   21995.23   51455.33   31100.52
           111N04378   38222.51   88640.34   53254.80
           111N04379   33454.69   72775.89   42778.38
           111N04380   27661.93   64194.92   37588.41
           111N04381   32554.50   77911.54   45727.27
           111N04382   19307.45   45319.02   26863.94
           111N04383   77993.41  181141.22  114627.87
           111N04384   27516.03   64411.42   47447.16
           111N04385   33722.35   80126.27   57461.61
           111N04386   38197.17   95508.90   61487.16
           111N04387   21926.51   52090.14   33492.82
           111N04388   16227.52   38536.69   24293.13
           111N04389   25807.28   62603.37   37009.48

[219 rows x 3 columns]

In [198]:
tot_counts=df1.pivot_table(index=['direction','tmc_code'],values='travel_time_seconds',aggfunc='count',columns=['peak'])
tot_counts

peak                   AM    OP    PM
direction  tmc_code
NORTHBOUND 111+04320  850  2040  1189
           111+04321  850  2040  1190
           111+04322  850  2040  1190
           111+04323  850  2040  1190
           111+04324  849  2040  1190
           111+04325  846  2038  1187
           111+04335  850  2040  1190
           111+04336  850  2040  1189
           111+04337  850  2040  1190
           111+04338  850  2040  1190
           111+04339  850  2040  1190
           111+04340  850  2040  1190
           111+04341  850  2040  1190
           111+04342  850  2040  1190
           111+04344  850  2040  1190
           111+04346  850  2040  1190
           111+04347  850  2040  1190
           111+04348  850  2040  1190
           111+04349  850  2040  1190
           111+04350  850  2040  1190
           111+04351  850  2040  1190
           111+04352  850  2040  1190
           111+04353  850  2040  1190
           111+04354  850  2040  1190
           111+04355  850  2040  1190
           111+04356  850  2040  1190
           111+04357  850  2040  1190
           111+04358  849  2032  1188
           111+04359  850  2040  1190
           111+04360  850  2039  1190
...                   ...   ...   ...
SOUTHBOUND 111N04358  850  2040  1190
           111N04359  850  2040  1190
           111N04360  850  2040  1190
           111N04361  766  1937   829
           111N04362  850  2040  1190
           111N04363  850  2034  1190
           111N04364  850  2040  1190
           111N04365  850  2040  1190
           111N04366  850  2040  1190
           111N04367  850  2040  1190
           111N04368  850  2040  1190
           111N04369  850  2040  1190
           111N04370  850  2040  1190
           111N04371  850  2040  1190
           111N04372  850  2040  1190
           111N04375  850  2040  1190
           111N04376  850  2040  1190
           111N04377  850  2039  1189
           111N04378  850  2040  1190
           111N04379  850  2040  1190
           111N04380  850  2040  1190
           111N04381  850  2040  1190
           111N04382  850  2040  1190
           111N04383  850  2040  1190
           111N04384  850  2040  1190
           111N04385  850  2040  1190
           111N04386  850  2040  1190
           111N04387  850  2040  1190
           111N04388  850  2040  1190
           111N04389  850  2040  1190

[219 rows x 3 columns]

In [203]:
avg=tot_avg.div(tot_counts)
avg

peak                          AM         OP          PM
direction  tmc_code
NORTHBOUND 111+04320   37.500035  33.543333   33.930807
           111+04321   18.215941  12.082936   11.950916
           111+04322   21.665671   9.676980    9.644992
           111+04323  125.023659  35.275637   34.579235
           111+04324   62.194594  21.240608   20.039000
           111+04325    1.733014   0.863827    0.819966
           111+04335   55.952412  28.390931   28.330118
           111+04336    7.347553   3.036632    2.800858
           111+04337   58.997694  19.572980   19.276832
           111+04338   27.648200   9.857142    9.450143
           111+04339  118.464482  50.923343   57.910597
           111+04340   17.218141   9.823647   11.849882
           111+04341   31.809882  17.726289   19.009815
           111+04342   28.698329  13.532147   15.415899
           111+04344   60.717624  34.120309   47.716857
           111+04346   12.423224   8.873520   14.032613
           111+04347   19.334953  14.617284   21.940815
           111+04348   29.909565  23.553819   36.931672
           111+04349   11.340859   8.263985   19.788798
           111+04350   15.802518  12.767505   27.924084
           111+04351   22.521094  19.796294   38.551689
           111+04352   24.669624  22.377603   31.384571
           111+04353   81.216965  73.327044   90.726765
           111+04354   32.136435  24.327745   35.995185
           111+04355   26.611635  22.106549   28.025277
           111+04356   45.714529  44.445623   50.127462
           111+04357   20.400706  19.472191   21.286353
           111+04358   91.251425  71.821998  103.378855
           111+04359   62.045765  54.845711   94.280832
           111+04360    6.480835   5.853708   11.648261
...                          ...        ...         ...
SOUTHBOUND 111N04358    0.732024   0.681578    0.794706
           111N04359   73.368918  60.278240   87.772008
           111N04360   35.635435  26.064686   42.210697
           111N04361    2.219112   1.721446    3.176900
           111N04362   91.651471  54.124809  104.568748
           111N04363   54.438800  32.844892   49.972160
           111N04364   15.128694  11.337157   12.197714
           111N04365   40.197953  28.182083   29.380210
           111N04366   24.748035  20.247936   20.567866
           111N04367   39.575624  30.900480   32.336840
           111N04368   54.778624  47.864583   48.898210
           111N04369   30.502647  28.225368   28.391202
           111N04370    0.566682   0.534593    0.538378
           111N04371   30.814341  29.208833   29.179840
           111N04372   57.853953  56.246343   57.882134
           111N04375   76.598812  76.358309   78.022588
           111N04376   13.911918  13.620034   14.111193
           111N04377   25.876741  25.235571   26.156871
           111N04378   44.967659  43.451147   44.751933
           111N04379   39.358459  35.674456   35.948218
           111N04380   32.543447  31.468098   31.586899
           111N04381   38.299412  38.191931   38.426277
           111N04382   22.714647  22.215206   22.574739
           111N04383   91.756953  88.794716   96.325941
           111N04384   32.371800  31.574225   39.871563
           111N04385   39.673353  39.277583   48.287067
           111N04386   44.937847  46.818088   51.669882
           111N04387   25.795894  25.534382   28.145227
           111N04388   19.091200  18.890534   20.414395
           111N04389   30.361506  30.687926   31.100403

[219 rows x 3 columns]

avg2=pd.DataFrame(np.hstack(np.split(tot_avg,2)))

avg2.columns=['am_n','op_n','pm_n','am_s','op_s','pm_s']
avg2

tot_days=len(df1['date'].value_counts())
print(tot_days)

AM_periods=10
PM_periods=14
OP_periods=24

tot_avg['AM']=tot_avg['AM']/AM_periods/tot_days/60
tot_avg['PM']= tot_avg['PM']/PM_periods/tot_days/60
tot_avg['OP']=tot_avg['OP']/OP_periods/tot_days/60

tot_avg

am_s=len(df1[(df1['direction']=='SOUTHBOUND') & (df1['peak']=='AM')])
am_n=len(df1[(df1['direction']=='NORTHBOUND') & (df1['peak']=='AM')])
pm_n=len(df1[(df1['direction']=='NORTHBOUND') & (df1['peak']=='PM')])
op_n=len(df1[(df1['direction']=='NORTHBOUND') & (df1['peak']=='OP')])
pm_s=len(df1[(df1['direction']=='SOUTHBOUND') & (df1['peak']=='PM')])
op_s=len(df1[(df1['direction']=='SOUTHBOUND') & (df1['peak']=='OP')])
num_variable=pd.DataFrame([[am_n,op_n,pm_n,am_s,op_s,pm_s]],columns=['am_n','op_n','pm_n','am_s','op_s','pm_s'])
num_variable

num_variable.loc[0,:]*=60
num_variable

tot_avg2=avg2.div(num_variable.loc[0])
tot_avg2